<div #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header color-scheme-secondary">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" test-id="searchParam">{{prettySearchParam}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body color-scheme-main">
        <app-modal-goat-card *ngIf="goat" class="card" [goat]="goat" test-id="goat-card"></app-modal-goat-card>
        <app-modal-not-found *ngIf="!goat" [searchParam]="searchParam" test-id="not-found"></app-modal-not-found>
      </div>
      <div class="modal-footer color-scheme-secondary">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>