<h5 class="card-title text-center" *ngIf="name" test-id="name">{{name}}</h5>
<h6 class="card-subtitle mb-2 text-center" *ngIf="nickname" test-id="nickname">"{{nickname}}"</h6>
<div class="card-header color-scheme-quaternary">
  <app-carousel [images]="images" test-id="carousel"></app-carousel>
  <div class="card-text text-center container color-scheme-tertiary rounded-bottom">
    <div class="text-capitalize">
      <div *ngIf="born">
        <span class="fw-bold">Born</span>: <span class="fw-light" test-id="born">{{born | date:'longDate'}}</span>
        <br>
      </div>
      <div *ngIf="id">
        <span class="fw-bold">ID</span>: <span class="fw-light" test-id="id">{{id}}</span>
        <br>
      </div>
      <div *ngIf="animalTattoos?.length">
        <span class="fw-bold">Tattoo</span>: <span *ngFor="let animalTattoo of animalTattoos" test-id="tattoo">
          <span *ngIf="animalTattoo.tattooLocation?.name && animalTattoo.tattoo">
            {{animalTattoo.tattooLocation?.name}}:<span class="fw-light">{{animalTattoo.tattoo}}</span>
          </span>
        </span>
        <br>
      </div>
      <div *ngIf="colorAndMarking">
        <span class="fw-bold">Markings</span>: <span class="fw-light" test-id="markings">{{colorAndMarking.toLowerCase()}}</span>
      </div>
    </div>
    <span test-id="description" *ngIf="description">{{description}}</span>
  </div>
</div>
