<div class="card-header color-scheme-tertiary">
  <h5 class="card-title text-center" *ngIf="name" test-id="name">{{name}}</h5>
  <h6 class="card-subtitle mb-2 text-center" *ngIf="nickname" test-id="nickname">"{{nickname}}"</h6>
</div>
<div class="card-body color-scheme-quaternary p-0">
  <app-carousel [images]="images" test-id="carousel"></app-carousel>
</div>
<div class="card-footer color-scheme-tertiary">
  <div class="card-text text-center container rounded-bottom ">
    <div class="text-capitalize">
      <div *ngIf="born">
        <span class="fw-bold">Born</span>: <span class="fw-light" test-id="born">{{born | longDate}}</span>
        <br>
      </div>
      <div *ngIf="deceased">
        <span class="fw-bold">Deceased</span>: <span class="fw-light" test-id="deceased">{{deceased | longDate}}</span>
        <br>
      </div>
      <div *ngIf="id">
        <span class="fw-bold">ID</span>: <span class="fw-light" test-id="id">{{id}}</span>
        <br>
      </div>
      <div *ngIf="animalTattoos?.length">
        <span class="fw-bold">Tattoo</span>: <span *ngFor="let animalTattoo of animalTattoos" test-id="tattoo">
          <span *ngIf="animalTattoo.tattooLocation?.name && animalTattoo.tattoo" class="fw-semibold">
            {{animalTattoo.tattooLocation?.name}}:<span class="fw-light">{{animalTattoo.tattoo}}</span>
          </span>
        </span>
        <br>
      </div>
      <div *ngIf="colorAndMarking">
        <span class="fw-bold">Markings</span>: <span class="fw-light" test-id="markings">{{colorAndMarking.toLowerCase()}}</span>
      </div>
      <div *ngIf="price">
        <span class="fw-bold">Price</span>: <span class="fw-light" test-id="price">{{price}}</span>
        <br>
      </div>
    </div>
    <div test-id="description" *ngIf="description" [innerHTML]="description"></div>
  </div>
  <app-pedigree [goat]="goat"></app-pedigree>
</div>
