<!--<app-goat-modal _title="Does" [goats]="does" *ngIf="does.length"></app-goat-modal>-->
@if (!err && !noGoats) {
  <div class="container" test-id="goats">
    @if (((prerender || bot) && activeGoatIndex > -1)) {
      <div test-id="server">
        <app-modal-goat-card [goat]="goats![activeGoatIndex]" test-id="server-card"></app-modal-goat-card>
      </div>
    }
    @if (!((prerender || bot) && activeGoatIndex > -1)) {
      <div test-id="browser">
        <h1 class="text-center" test-id="name">{{name}}</h1>
        <h5 class="text-center" test-id="prompt">Click on a {{name.slice(0, -1)}} Below For More Info</h5>
        @if (activeGoatIndex === -1 && searchParam && goats) {
          <app-modal-goat [searchParam]="searchParam"
          test-id="not-found-modal"></app-modal-goat>
        }
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 align-items-center justify-content-center">
          @for (goat of goats; track goat; let i = $index) {
            <div class="col py-3" test-id="goat-cards">
              <app-goat-card [goat]="goat" test-id="goat-card"></app-goat-card>
              @if (i === activeGoatIndex) {
                <app-modal-goat [goat]="goat" [searchParam]="searchParam!" test-id="goat-modal"></app-modal-goat>
              }
            </div>
          }
          @for (goat of (goats?.length ? undefined : [1,2,3,4,5,6,7,8]); track goat) {
            <div class="col py-3" test-id="placeholder-cards">
              <app-goat-card test-id="placeholder-card"></app-goat-card>
            </div>
          }
        </div>
      </div>
    }
  </div>
}
@if (err) {
  <div test-id="error">
    <h3 class="text-center" test-id="error-title">Failed To Load {{name}} With Error: {{err.status}} - {{err.statusText}}</h3>
    <h6 class="text-center" test-id="error-prompt">Please Check Your Connection And Try Again Later.</h6>
  </div>
}
@if (noGoats) {
  <div test-id="no-goats">
    <h3 class="text-center" test-id="no-goats-title">No {{name}} Found</h3>
    <h6 class="text-center" test-id="no-goats-prompt">Please Try Again Later.</h6>
  </div>
}
