<!-- Navbar to display tabs at the top of the page -->
<header class="navbar navbar-expand-lg sticky-top color-scheme-secondary">
  <div class="container-fluid">
    <img ngSrc="./assets/icons/android-chrome-192x192.png" alt="Logo" class="d-inline-block align-text-top" width="70" height="70" priority>
    <a class="navbar-brand ps-2 text-center text-lg-start" routerLink="/">
      <p class="h4" [innerHTML]="splitString(config.menubarTitle)" test-id="menubar"></p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav nav-underline nav-fill w-100">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/" [routerLinkActiveOptions]="{exact: true}"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/does" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Does</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/bucks" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Bucks</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="color-scheme-main">
  <br>
  <!-- Put in minimum height div to put footer at bottom of page -->
  <div class="px-3 py-3" style="min-height: 100vh; max-width: 100vw !important;">
    <router-outlet></router-outlet>
  </div>
  <br>
</div>
<!-- Footer with link to source code -->
<footer class="bd-footer color-scheme-secondary">
  <br>
  <div class="text-center">
    <span test-id="owner">{{config.owner}}</span>
    <br>
    <a [href]="'mailto:' + config.email" test-id="email">{{config.email}}</a>
  </div><br>
  <div class="container  text-center" style="min-height: 5vh;">This Site Was Created and Is Maintained Using <a
      href="https://github.com/DigiGoat" target="_blank">DigiGoat</a>
  </div>
  <br>
</footer>
<analytics></analytics>
<color-scheme></color-scheme>
