<div class="text-center mt-4">
  <div class="container border rounded-4 desktop-grid" *ngIf="goat.damId || goat.sireId">
    <div class="row row-cols-2 border-bottom">
      <span class="col border-end border-3 fw-bolder">Dam:</span>
      <span class="col fw-bolder">Sire:</span>
    </div>
    <div class="row row-cols-2 border-bottom border-3" *ngIf="dam || sire">
      <span class="col border-end border-3" bs-popover popover-title="{{dam?.name}}"
        [popover-content]="getPopoverContent(dam)">{{dam?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(dam?.linearAppraisals)}}</div>
      </span>
      <span class="col" bs-popover popover-title="{{sire?.name}}" [popover-content]="getPopoverContent(sire)">{{sire?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(sire?.linearAppraisals)}}</div>
      </span>
    </div>
    <div class="row row-cols-2 border-bottom border-3" *ngIf="!dam && !sire">
      <span class="col border-end border-3 placeholder-wave placeholder">lorem<br><small>ipsum</small></span>
      <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small></span>
    </div>
    <div class="row row-cols-4 border-bottom">
      <span class="col fw-bolder border-end border-3">Dam's Dam:</span>
      <span class="col fw-bolder border-end border-5">Dam's Sire:</span>
      <span class="col fw-bolder border-end border-3">Sire's Dam:</span>
      <span class="col fw-bolder ">Sire's Sire:</span>
    </div>
    <div class="row row-cols-4" *ngIf="damDam || damSire || sireDam || sireSire">
      <span class="col border-end border-3" bs-popover popover-title="{{damDam?.name}}"
        [popover-content]="getPopoverContent(damDam)">{{damDam?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(damDam?.linearAppraisals)}}</div>
      </span>
      <span class="col border-end border-5" bs-popover popover-title="{{damSire?.name}}"
        [popover-content]="getPopoverContent(damSire)">{{damSire?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(damSire?.linearAppraisals)}}</div>
      </span>
      <span class="col border-end border-3" bs-popover popover-title="{{sireDam?.name}}"
        [popover-content]="getPopoverContent(sireDam)">{{sireDam?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(sireDam?.linearAppraisals)}}</div>
      </span>
      <span class="col" bs-popover popover-title="{{sireSire?.name}}" [popover-content]="getPopoverContent(sireSire)">{{sireSire?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(sireSire?.linearAppraisals)}}</div>
      </span>
    </div>
    <div class="row row-cols-4" *ngIf="!damDam && !damSire && !sireDam && !sireSire">
      <span class="col border-end border-3 placeholder-wave placeholder">lorem <br><small>ipsum</small>
      </span>
      <span class="col border-end border-5 placeholder-wave placeholder">lorem <br><small>ipsum</small>
      </span>
      <span class="col border-end border-3 placeholder-wave placeholder">lorem<br><small>ipsum</small>
      </span>
      <span class="col placeholder placeholder-wave">lorem <br><small>ipsum</small>
      </span>
    </div>
  </div>
  <div class="container border rounded-4 mobile-grid" *ngIf="goat.damId">
    <div class="row row-cols-1 border-bottom">
      <span class="col">Dam:</span>
    </div>
    <div class="row row-cols-1 border-bottom border-3" *ngIf="dam">
      <span class="col" bs-popover popover-title="{{dam.name}}" [popover-content]="getPopoverContent(dam)">{{dam.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(dam.linearAppraisals)}}</div>
      </span>
    </div>
    <div class="row row-cols-1 border-bottom border-3" *ngIf="!dam">
      <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small></span>
    </div>
    <div class="row row-cols-2 border-bottom">
      <span class="col border-end border-3">Dam's Dam:</span>
      <span class="col ">Dam's Sire:</span>
    </div>
    <div class="row row-cols-2" *ngIf="damDam || damSire">
      <span class="col border-end border-3" bs-popover popover-title="{{damDam?.name}}"
        [popover-content]="getPopoverContent(damDam)">{{damDam?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(damDam?.linearAppraisals)}}</div>
      </span>
      <span class="col" bs-popover popover-title="{{damSire?.name}}" [popover-content]="getPopoverContent(damSire)">{{damSire?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(damSire?.linearAppraisals)}}</div>
      </span>
    </div>
    <div class="row row-cols-2" *ngIf="!damDam && !damSire">
      <span class="col border-end border-3 placeholder-wave placeholder">lorem<br><small>ipsum</small>
      </span>
      <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small>
      </span>
    </div>
  </div>
  <br *ngIf="goat.damId && goat.sireId">
  <div class="container border rounded-4 mobile-grid" *ngIf="goat.sireId">
    <div class="row row-cols-1 border-bottom">
      <span class="col">Sire:</span>
    </div>
    <div class="row row-cols-1 border-bottom border-3" *ngIf="sire">
      <span class="col" bs-popover popover-title="{{sire.name}}" [popover-content]="getPopoverContent(sire)">{{sire.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(sire.linearAppraisals)}}</div>
      </span>
    </div>
    <div class="row row-cols-1 border-bottom border-3" *ngIf="!sire">
      <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small></span>
    </div>
    <div class="row row-cols-2 border-bottom">
      <span class="col border-end border-3">Sire's Dam:</span>
      <span class="col">Sire's Sire:</span>
    </div>
    <div class="row row-cols-2" *ngIf="sireDam || sireSire">
      <span class="col border-end border-3" bs-popover popover-title="{{sireDam?.name}}"
        [popover-content]="getPopoverContent(sireDam)">{{sireDam?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(sireDam?.linearAppraisals)}}</div>
      </span>
      <span class="col" bs-popover popover-title="{{sireSire?.name}}" [popover-content]="getPopoverContent(sireSire)">{{sireSire?.name}}
        <div class="fw-light fst-italic font-monospace">{{formatLinearAppraisal(sireSire?.linearAppraisals)}}</div>
      </span>
    </div>
    <div class="row row-cols-2" *ngIf="!sireDam && !sireSire">
      <span class="col border-end border-3 placeholder-wave placeholder">lorem<br><small>ipsum</small>
      </span>
      <span class="col placeholder-wave placeholder">lorem<br><small>ipsum</small>
      </span>
    </div>
  </div>
  <br>
  <div class="container border rounded-4" *ngIf="goat.linearAppraisals && goat.linearAppraisals.length">
    <div class="row border-bottom">
      <span class="col">Linear Appraisal History:</span>
    </div>
    <div class="row border-bottom">
      <div class="col border-end col-5 fw-bold">Date: </div>
      <div class="col border-end fw-bold" tooltip="General Appearance">GA</div>
      <div class="col border-end fw-bold" tooltip="Dairy Strength">DS</div>
      <div class="col border-end fw-bold" tooltip="Body Capacity">BC</div>
      <div class="col border-end fw-bold" *ngIf="goat.sex === 'Female'" tooltip="Mammary System">MS</div>
      <div class="col fw-bold" tooltip="Final Score">FS</div>
    </div>
    <div class="row border-top" *ngFor="let appraisal of goat.linearAppraisals; index as i">
      <div class="col border-end col-5">{{appraisal.appraisalDate | longDate}}</div>
      <div class="col border-end">{{appraisal.generalAppearance}}</div>
      <div class="col border-end">{{appraisal.dairyStrength}}</div>
      <div class="col border-end">{{appraisal.bodyCapacity}}</div>
      <div class="col border-end" *ngIf="goat.sex === 'Female'">{{appraisal.mammarySystem}}</div>
      <div class="col" [class.fst-italic]="appraisal.isPermanent" [class.fw-bold]="appraisal.isPermanent"
        [tooltip]="appraisal.isPermanent ? 'Permanent Score' : ''">{{appraisal.finalScore}}</div>
    </div>
  </div>