/* You can add global styles to this file, and also import other style files */
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import './color-schemes.scss';

.reference-popover {
  --bs-popover-max-width: 100vw !important;
  --bs-popover-border-color: hsl(26, 40%, 15%) !important;
  --bs-popover-header-bg: hsl(26, 40%, 15%) !important;
  --bs-popover-header-color: hsl(0, 0%, 85%) !important;
  --bs-popover-bg: hsl(26, 40%, 10%) !important;
  --bs-popover-body-color: hsl(0, 0%, 85%) !important;
  --bs-popover-body-padding-y: 0.5rem !important;
  text-align: center !important;
  opacity: 90%;
  transition: opacity 1s ease-in !important;
}

.not-found {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}