name: Jest Testing

on:
  push:
    paths:
      - 'src/**'
      - '.github/workflows/test.yml'
      - 'jest.config.js'
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  checks: write
jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [18.x, 20.x]  # specify the Node.js versions you want to test against
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Test Project
        run: yarn test:ci

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test Report (${{ matrix.os }}, ${{ matrix.node-version }})
          path: reports/jest-*.xml
          reporter: jest-junit
          list-tests: 'failed'
