<div class="card color-scheme-secondary" *ngIf="goat" test-id="goat">
  <div class="px-3 pt-3">
    <img *ngIf="image?.file" [ngSrc]="image!.file" [alt]="image?.alt" class="card-img-top rounded object-fit-contain" width="400"
      height="250" test-id="goat-image">
  </div>
  <div class="card-body color-scheme-secondary" [id]="id">
    <div class="container color-scheme-tertiary pb-3">
      <a class="stretched-link" [routerLink]="nickname ?? id ?? name" test-id="goat-link"
        attr.aria-label="Link to open {{nickname ?? id ?? name}}'s modal (This link cover's the whole element - it does not contain any text)"></a>
      <h5 class="card-title text-center mb-0" test-id="goat-name">{{name}}</h5>
      <h6 class="card-subtitle pb-1 fw-light fst-italic text-center" test-id="goat-age" *ngIf="born">{{born | age}}</h6>
      <h6 class="card-subtitle pb-2 text-center" *ngIf="nickname" test-id="goat-nickname">"{{nickname}}"</h6>
      <div class="card-text text-center text-truncate-3" *ngIf="description" [innerHTML]="description" test-id="goat-description">
      </div>
    </div>
  </div>
</div>
<div class="card color-scheme-secondary" *ngIf="!goat" test-id="placeholder">
  <div class="px-3 pt-3 placeholder-glow">
    <img class="card-img-top rounded border" alt="Loading..." width="400" height="200" test-id="placeholder-image">
  </div>
  <div class="card-body color-scheme-secondary">
    <div class="container color-scheme-tertiary pb-3 text-center placeholder-wave">
      <h5 class="card-title text-center placeholder" test-id="placeholder-name">SOME ANIMALS NAME</h5>
      <br>
      <h6 class="card-subtitle pb-2 text-center placeholder" test-id="placeholder-nickname">"Nickname"</h6>
    </div>
  </div>
</div>
